.App {
  width: 300px;
  margin: 20px auto;
}

h2 {
  text-align: center;
}

.home-container {
  text-align: center;
  margin-top: 100px;
  font-family: Arial, sans-serif;
}

.login-icon {
  margin-top: 40px;
  cursor: pointer;
  display: inline-block;
  transition: transform 0.2s ease;
}

.login-icon:hover {
  transform: scale(1.1);
}

.login-icom p {
  margin-top: 8px;
  font-size: 16px;
  color: #007bff;
}

.form-container {
  box-shadow: 0 2px 4px rgba(0,0,0,0.1), 0 4px 8px rgba(0,0,0,0.15);
  border-radius: 5px;
  width: 300px;
  margin: 0 auto;
  padding: 20px;
}

<<<<<<< HEAD
input[type=email], input[type=password], input[type=text] {
=======
input[type=text], input[type=email], input[type=password] {
>>>>>>> Development
  padding: 10px;
  font-size: 16px;
  border: 1px solid black;
  border-radius: 5px;
  margin-bottom: 10px;
  width: 100%;
  box-sizing: border-box;
}

<<<<<<< HEAD
input[type=email]:focus, input[type=password]:focus , input[type=text]:focus {
=======
input[type=text]:focus, input[type=email]:focus, input[type=password]:focus {
>>>>>>> Development
  outline: none;
  border: 2px solid black;
}

button {
  padding: 10px;
  font-size: 16px;
  background-color: black;
  border: 1px solid black;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
}

p {
  margin-top: 10px;
  margin-bottom: 0px;
}



